.banner {
    padding-bottom: 50px;
    padding-top: 55px;
}

.banner-inner {
    margin: 0 auto;
    width: 1190px;
}

.banSwiper {
    .swiper-wrapper {
        transition-timing-function: linear;
    }

    img {
        width: 80px;
        height: 80px;
    }
}