footer {
  width: 100%;
  background-color: #111;
  padding: 70px 0;
}

.footer-inner {
  margin: 0 auto;
  width: 1190px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  >div:nth-child(1) {
    color: #A0A0A0;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .footer-slogan {
      font-size: 32px;
      font-weight: 600;
      letter-spacing: 16px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .footer-ckdhc {
      display: flex;
      justify-content: space-between;
      // align-items: flex-end;
      font-weight: 600;
      font-size: 70px;
      letter-spacing: -5px;

      .sns-icon {
        display: flex;
        // align-items: flex-end;
        gap: 10px;
        cursor: pointer;

        li {
          // display: flex;
        }


      }
    }
  }
}

.footer-line {
  border-top: 4px solid #fff;
}

.customer {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .info-detail {
    letter-spacing: 4px;
    font-size: 22px;
    color: white;
  }

  .gray-txt {
    font-size: 14px;
    color: rgba(255, 255, 255, .4);
  }

  .branch {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.address {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 40px;

  .sitebox {
    a {
      width: 230px;
      /* height: 88px; */
      background: url(../images/사이트화살표.png) no-repeat right 30%;
      border-bottom: 1px solid #fff;
      padding-bottom: 20px;
      position: relative;

      color: #fff;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 4px;
      display: flex;
      align-items: center;
    }

    .family {
      background-color: #111;
    }

    #select-site {
      display: none;
      position: absolute;
      z-index: 999;
    }

    #select-site>li {
      font-weight: bold;
    }

    #select-site li ul {
      padding-left: 20px;
    }
  }
}

.number {
  display: flex;
  gap: 45px;
  font-weight: 600;
  margin-bottom: 50px;
}

.copy {
  font-size: 12px;
  color: #fff3;
  display: flex;
  justify-content: space-between;

  .footer-link {
    cursor: pointer;
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding-right: 245px;

    .after-line::after {
      content: "|";
      margin-left: 7px;
    }
  }
}