/* ------------- */


.header .inner nav .menu {
  display: flex;
  align-items: center;
}

.inner nav .menu li:nth-child(1) {
  font-size: 20px;
  padding: 0 16px;
}

.inner nav .menu li:nth-child(2) {
  font-size: 32px;
  color: #fff;
  margin-right: 8px;
  letter-spacing: 1.5px;
}


.inner nav .menu li:nth-child(3) {
  margin-top: 7px;
}