header {
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  margin-top: 30px;

  .header-inner {
    margin: 0 auto;
    color: white;
    max-width: 1400px;
    width: 1400px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
      margin-bottom: 3px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    .lang {
      font-size: 14px;
      display: flex;
      padding-right: 20px;

      li:nth-child(1) {
        padding: 0 16px;
      }

      li:nth-child(2) {
        border-left: 1px solid white;
        padding: 0 16px;
      }
    }

    .menu {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 8px;

      li:nth-child(1) {
        font-size: 20px;
        margin-right: 8px;
      }

      li:nth-child(2) {
        font-size: 32px;
        letter-spacing: 1.5px;
      }
    }
  }
}


/* ------------- */


.header .inner nav .menu {
  display: flex;
  align-items: center;
}

.inner nav .menu li:nth-child(1) {
  font-size: 20px;
  padding: 0 16px;
}

.inner nav .menu li:nth-child(2) {
  font-size: 32px;
  color: #fff;
  margin-right: 8px;
  letter-spacing: 1.5px;
}


.inner nav .menu li:nth-child(3) {
  margin-top: 7px;
}