.health {
  width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.health-inner {
  width: 1190px;
  padding-top: 135px;
  display: flex;
  gap: 65px;
  flex-direction: column;
}

.row-wrapper {
  color: white;

  .row-1 {
    height: 290px;
    background: url(../images/종근당건강몰.jpg)no-repeat left center/120%;
    position: relative;

    a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .quick-link {
      display: flex;
      gap: 30px;

      .cart {
        position: relative;
        z-index: 8;
      }
    }
  }
}

.row-1 a:hover img {
  animation: shake 1s linear;
  animation-duration: 1s;
}

.row-1::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}

.row-1:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}


@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }

}

.row-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;

  .arrow-box {
    width: 388px;
    height: 190px;
    position: relative;
  }

  a:hover {
    .next-arrow {
      animation: moveRight .3s linear;
    }
  }

  @keyframes moveRight {
    0% {
      transform: translateX(0px);
    }

    50% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0px);
    }
  }
}


.next-arrow {
  width: 100px;
}

.heal-bell {
  background: url(../images/헬스벨스토리.jpg)no-repeat center;
  background-size: 386px 190px;
}

.heal-cosmetic {
  background: url(../images/화장품2.jpg)no-repeat center;
  background-size: 386px 190px;
}

.heal-processed {
  background: url(../images/가공식품.jpg)no-repeat center;
  background-size: 386px 190px;
}

.arrow-box::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}

.arrow-box:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

// ===========================
// ===========================

.card-text {
  position: relative;
  z-index: 8;

  .card-tit {
    font-size: 26px;
    font-weight: 600;
  }

  .card-sub {
    font-size: 16px;
  }
}

.cardTxt1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cardTxt2 {
  width: 388px;
  height: 190px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 28px;
}