.lifestyle {
  height: 555px;
}

.life-inner {
  height: 100%;
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.circle {
  display: flex;
  gap: 150px;

  .leaf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p {
      font-size: 20px;
    }
  }

  .icon {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    background-size: 170px 170px;
    transition-duration: .3s, .3s;
    transition-property: background-color, background-image;
    cursor: pointer;
  }

  .pill {
    background: #f4f6f9 url(../images/건강기능식품.png) no-repeat center;
    background-size: 170px 170px;

    &:hover {
      background: #015294 url(../images/건강기능식품호버.png)no-repeat center;
      background-size: 170px 170px;
    }
  }

  .bowl {
    background: #f4f6f9 url(../images/일반식품.png) no-repeat center;
    background-size: 170px 170px;

    &:hover {
      background: #015294 url(../images/일반식품호버.png)no-repeat center;
      background-size: 170px 170px;
    }
  }

  .cosmetic {
    background: #f4f6f9 url(../images/화장품.png) no-repeat center;
    background-size: 170px 170px;

    &:hover {
      background: #015294 url(../images/화장품호버.png)no-repeat center;
      background-size: 170px 170px;
    }
  }
}