/* ------------------------- */
.tv {
  height: 940px;
}

.tv .con1 {
  width: 1190px;
  margin: 0 auto;
  padding: 110px 0 55px;
  text-align: center;
}

.tv .con1 p {
  font-size: 40px;
  font-weight: 600;
}

.tv .con2 {
  width: 1190px;
  margin: 0 auto;
}