.visual {
  background-color: #005295;
  height: 922px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  position: relative;

  .vis-inner {
    color: white;
    max-width: 1400px;
    width: 1400px;
    height: 100%;
  }
}

header {
  position: absolute; /////////////// 질문
  background-color: purple;

  .header-inner {
    max-width: 1400px; ////////////// 질문
    width: 1400px; /////////////// 질문


    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
      margin-bottom: 3px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;

    .lang {
      font-size: 14px;
      display: flex;
      padding-right: 20px;

      li:nth-child(1) {
        padding: 0 16px;
      }

      li:nth-child(2) {
        border-left: 1px solid white;
        padding: 0 16px;
      }
    }

    .menu {
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 8px;

      li:nth-child(1) {
        font-size: 20px;
        margin-right: 8px;
      }

      li:nth-child(2) {
        font-size: 32px;
        letter-spacing: 1.5px;
      }
    }
  }
}

.contents-wrapper {
  // background-color: rgb(71, 13, 57);
  display: flex;
  align-items: center;
  height: 100%;


  .title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 148px;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 140px;

    .title-1 {
      font-weight: 600;
      letter-spacing: -2px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .textUp-1 {
        font-size: 70px;
      }

      .textUp-2 {
        font-size: 80px;
      }
    }

    .title-2 {
      display: flex;
      text-align: center;

      .textBox {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .k-b-s {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 15px;
        }

        .section-tit {
          font-size: 30px;
          font-weight: 600;
          opacity: 30%;
        }

        .stat-num {
          font-size: 65px;
          font-weight: 600;
          letter-spacing: -2px;


          span {
            font-size: 55px;
          }
        }

        .mid-line1 {
          width: 233px;
          height: 4px;
          background-color: white;
        }

        .mid-line {
          width: 233px;
          height: 4px;
          background-color: white;
          opacity: 20%;
        }

        .subtitle {
          font-size: 18px;
          display: flex;
          flex-direction: column;
          gap: 12px;
          opacity: 80%;
          letter-spacing: -1px;
        }

        .detail {
          font-size: 14px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          opacity: 80%;
          letter-spacing: -1px;

        }
      }
    }
  }

  // .main-slider {
  //   width: 702px;
  //   height: 595px;
  //   // position: absolute;
  //   // position: relative;
  //   // overflow: hidden;
  //   // position: absolute;
  //   // right: 0;

  //   img {
  //     width: 702px;
  //     height: 596px;
  //     // display: block;
  //   }



  //   .bx-wrapper img {
  //     height: 100%;
  //   }

  //   .blue-imgs {
  //     // position: absolute;
  //     // top: 0;
  //     // z-index: 9999;
  //   }

  // }

  .main-slider {
    position: relative;
    width: 100%;
    max-width: 1200px;
    /* 적절한 너비 설정 */
    // margin: 0 auto;

    .slider-frame {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      /* 프레임이 슬라이드 위에 오도록 설정 */
      pointer-events: none;
      /* 클릭 방지 */

      // width: 704px;
      height: 598px;

      width: 100%;
      // height: 589px;
      //     // display: block;
    }

    .bxslider {
      position: relative;
      z-index: 1;

      .bx-wrapper {
        // position: absolute;

        // top: 0;
        // left: 0;
      }

      /* 프레임 아래에 위치 */
      li {
        img {
          width: 702px;
          height: 596px;
          // width: 100%;
          // display: block;
        }
      }
    }
  }
}