.lifestyle {
  width: 1190px;
  margin: 0 auto;
  height: 515px;
  // position: relative;
}

.lifestyle .btn {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s;
}

.lifestyle .btn.on {
  opacity: 1;
  visibility: visible;
}

.lifestyle .hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  display: none;
  text-align: center;
  line-height: 6;
}


.lifestyle .hamburger img {
  width: 32px;
  height: 32px;
}

.btn .btnbox {
  position: fixed;
  top: 0;
  right: 0;
  background: #004a98;
  width: 750px;
  height: 952px;
  color: #fff;
  font-size: 30px;
  z-index: 9999;
  right: -750px;
  transition: right .5s;
}

.btn .btnbox.on {
  right: 0;
}

.btn .btnbox ul {
  width: 750px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 111px 20px 35px 100px;
}



.btn .xxx {
  width: 36px;
  height: 26px;
  position: absolute;
  top: 60px;
  right: 94px;
}


.btn .xxx img {}


/* //////////////////////////////// */


.lifestyle .con1 p:nth-child(1) {
  font-size: 40px;
  font-weight: 600;

}

.lifestyle .con1 p:nth-child(2) {
  font-size: 24px;
  padding-top: 11px;
}

.lifestyle .con1 {
  padding-top: 105px;
  text-align: center;


}

/* ------------------------------------------------- */

.lifestyle .con2 {
  display: flex;
  justify-content: space-around;
  padding: 55px 113px 0;
}



.lifestyle .con2 .circle1 {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background: #f4f6f9 url(../images/건강기능식품.png) no-repeat center;
  background-size: 170px 170px;
  transition-property: background-color, background-image;
  transition-duration: .3s, .3s;
}


.lifestyle .con2 .circle1:hover {
  background: #015294 url(../images/건강기능식품호버.png)no-repeat center;
  background-size: 170px 170px;
}

.lifestyle .con2 .circle2 {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background: #f4f6f9 url(../images/일반식품.png) no-repeat center;
  background-size: 170px 170px;
  transition-property: background-color, background-image;
  transition-duration: .3s, .3s;
}

.lifestyle .con2 .circle2:hover {
  background: #015294 url(../images/일반식품호버.png)no-repeat center;
  background-size: 170px 170px;
}

.lifestyle .con2 .circle3 {
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background: #f4f6f9 url(../images/화장품.png) no-repeat center;
  background-size: 170px 170px;
  transition-property: background-color, background-image;
  transition-duration: .3s, .3s;
}


.lifestyle .con2 .circle3:hover {
  background: #015294 url(../images/화장품호버.png)no-repeat center;
  background-size: 170px 170px;
}


.lifestyle .con2 a {
  text-decoration: none;
}

.lifestyle .con2 a p {
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
  color: black;
}

/* ------------------------- */