/* -------------헬스앤라이프------------ */
.health {
  width: 1190px;
  height: 785px;
  margin: 0 auto;
}

.health a {
  text-decoration: none;
}

.health>p {
  padding: 80px 0 57px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  text-decoration: none;
}

.health a .text p {
  color: white;
  font-size: 26px;
  font-weight: 600;
}

.health .con1 .box1 {
  width: 360px;
  height: 73px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.health .con1 {
  position: relative;
}

.health .con1::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}

.health .con1:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.health .con1 a {
  background: url(../images/종근당건강몰.jpg)no-repeat left center/120%;
  width: 1190px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.health .con1 a .box1 .ill1 {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 8;
}

.health .inner a:hover .ill1 {
  animation: cart 1s linear;
}

@keyframes cart {
  from {
    transform: rotateX(-20deg);
  }

  to {
    transform: rotateY(-20deg);
  }

}





.health .inner a:hover .ill2 {
  transform: translateX(10px);
  transition: all .1s;
}


.health .con1 a .box1 .text p {
  flex-flow: column nowrap;
  text-align: center;
  position: relative;
  z-index: 8;
}


.health>.inner {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
}

.health .con1 .text p:nth-child(2) {
  font-size: 16px;
  margin-top: 10px;
}

.health .flex1 .text {
  width: 388px;
  justify-content: space-around;
  display: flex;
  align-items: flex-end;
  height: 190px;
  padding: 20px 0;
  position: relative;
  z-index: 8;
}

/* ------------------------- */

.health .con2 {
  background: url(../images/헬스벨스토리.jpg)no-repeat center;
  width: 388px;
  height: 190px;
  background-size: 386px 190px;
  display: flex;
  justify-content: center;
  float: left;
  position: relative;
}

.health .con2::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}

.health .con2:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ------------------------------- */

.health .con3 {
  background: url(../images/화장품2.jpg)no-repeat center;
  width: 388px;
  height: 190px;
  background-size: 386px 190px;
  display: flex;
  justify-content: center;
  float: left;
  position: relative;
}

.health .con3::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}

.health .con3:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}

.health .con4 {
  background: url(../images/가공식품.jpg)no-repeat center;
  width: 388px;
  height: 190px;
  background-size: 386px 190px;
  display: flex;
  justify-content: center;
  float: left;
  position: relative;
}

.health .con4::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s;
}

.health .con4:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}