.product {
  width: 100%;

  .tit-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    margin: 75px 0 30px;

    .tab-btn {
      font-size: 18px;
      color: #777;
      display: flex;
      gap: 40px;
      justify-content: center;
      cursor: pointer;

      li {
        border-radius: 24px;
        width: 220px;
        height: 50px;
        border: 1px solid #ccc;
        line-height: 46px;
        text-align: center;
        position: relative;
      }

      img {
        position: absolute;
        right: 33px;
        top: 23px;
        width: 13px;
        height: 7px;
      }
    }
  }

  .tab-content {
    width: 100%;
    height: 530px;
    background-color: #e4f1fe;
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel-item {
      position: relative;
      width: 337px;
      height: 330px;

      img {
        width: 337px;
        height: 300px;
      }

      .white-box {
        background-color: #fff;
        width: 287px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 0px;
        left: 7%;

        p:nth-child(1) {
          font-size: 16px;
        }

        p:nth-child(2) {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }

    .tab-inner {
      width: 1230px;
      position: relative;
      display: flex;
      justify-content: center;

      .tabSwiper {
        width: 1070px;
        height: 330px;
      }

      .tabSlide-btn-prev,
      .tabSlide-btn-next {
        width: 30px;
        height: 60px;
        position: absolute;
        top: 135px;
      }

      .tabSlide-btn-prev {
        background: url(/images/슬라이드화살표왼쪽.png) no-repeat center;
        left: 0px;
      }

      .tabSlide-btn-next {
        background: url(/images/슬라이드화살표오른쪽.png) no-repeat center;
        right: 0px;
      }
    }

    .uni-3 {
      gap: 30px;
    }
  }
}

.tv {
  .tv-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
    padding-top: 135px;
  }
}